<nav class="panel">
  <p class="panel-heading">Directives and Events</p>
  <div class="panel-block">
    <button
      (click)="showOdd = !showOdd"
      class="button is-link is-outlined is-fullwidth">
      Only show odd numbers
    </button>
  </div>
  <div class="panel-block">
    <!-- Query params passed by method -->
    <button
      (click)="goToUrlQuery(1)"
      class="button is-link is-outlined is-fullwidth">
      Go to with method query
    </button>
    <!-- Query params passed by routerLink directives -->
    <a
      [routerLink]="['/url-query', 5, 'edit']"
      [queryParams]="{allowEddit: '1', updatedQuery: true}"
      [fragment]="'loading'"
      class="button is-outlined is-fullwidth"><!-- fragment = #loading (at end) -->
      Go to with query
    </a>
  </div>
  <div
    class="panel-block"
    *ngIf="showOdd"
    [ngStyle]="{flexDirection:'column', alignItems:'flex-start'}">
      <p
        [ngClass]="{'flex odd': odd % 2 !== 0}"
        *ngFor="let odd of oddNumbers"
        appHighlight>
          {{ odd }}
      </p>
  </div>
  <div
    class="panel-block"
    *appUnless="showOdd"
    [ngStyle]="{flexDirection:'column', alignItems:'flex-start'}">
      <p
        [ngClass]="{'flex even': even % 2 === 0}"
        *ngFor="let even of evenNumbers"
        appBetterHighlight>
        {{ even }}
      </p>
  </div>
</nav>
