<app-navbar></app-navbar>
<section class="section">
  <div class="container">
    <!-- Servers & Server components with Alert -->
    <!-- <app-servers></app-servers><br> -->
          <!-- | -->
    <!-- Parent & Child components interaction -->
    <!-- <app-parent></app-parent> -->
          <!-- | -->
    <!-- Directives and Events -->
    <!-- <app-odd-numbers></app-odd-numbers> -->
          <!-- | -->
    <!-- Service practice -->
    <!-- <app-new-account></app-new-account> -->
          <!-- | -->
    <router-outlet></router-outlet>
  </div>
</section>
