<section class="section">
  <div class="container">
    <h1 class="title">Ng Practice</h1>
    <p class="subtitle">Built with <i class="fab fa-angular has-text-danger"></i> & <strong>Bulma</strong></p><hr>

    <!-- Servers & Server components with Alert -->
    <!-- <app-servers></app-servers><br> -->

    <!-- Parent & Child components interaction -->
    <!-- <app-parent></app-parent> -->

    <!-- <app-odd-numbers></app-odd-numbers> -->

    <!-- Service practice -->
    <app-new-account></app-new-account>
  </div>
</section>
